* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f3;
  font-family: san-serif;
  outline: none;
  border: 1px solid black;
}

button {
  height: 50px;
  color: white;
  background-color: black;
  font-size: 17px;
  border: 0.5px solid white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 70px);
}

input {
  grid-column: span 4;
  height: 70px;
  width: 278px;
  font-size: 30px;
  text-align: end;
  border: 1px solid black;
  border-radius: 15px 15px 0 0;
  margin: auto;
}

.equal {
  width: 140px;
}
